.photo-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  padding: 50px 0 0;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .photo-items {
    padding: 36px 19px 0;
  }
}

.photo-items__img-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.photo-items__del-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 18px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.photo-items__del-button:before {
  content: url(../../images/del-button.svg);
}

.photo-items__del-button:hover {
  opacity: .6;
}

.photo-items__del-button:active, .photo-items__del-button:focus {
  outline: none;
}

.photo-items__del-button::-moz-focus-inner {
  border: 0;
}
